[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
databases = {extras = ["aiosqlite"], version = "*"}
python-dotenv = "*"
pydantic-settings = "*"
rich = "*"
asgi-correlation-id = "*"
python-json-logger = "*"

[dev-packages]
ruff = "*"
black = {extras = ["d"], version = "*"}
isort = "*"
pytest = "*"
httpx = "*"

[requires]
python_version = "3.10"
