[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"] }
sqlalchemy = "*"
databases = {extras = ["aiosqlite"] }
#databases = {extras = ["asyncpg"], version = "*"} #for postgresql
#psycopg2-binary = "*" #for postgresql
python-dotenv = "*"
pydantic-settings = "*"
rich = "*"
asgi-correlation-id = "*"
python-json-logger = "*"
python-jose = "*"
python-multipart = "*"
passlib = {extras = ["bcrypt"] }
httpx = "*"
aiofiles = "*"
b2sdk = "*"
opentelemetry-exporter-jaeger = "*"
opentelemetry-instrumentation-fastapi = "*"
opentelemetry-instrumentation-logging = "*"
starlette-exporter = "*"

[dev-packages]
ruff = "*"
black = {extras = ["d"], version = "*"}
isort = "*"
pytest = "*"
pytest-mock = "*"
pyfakefs = "*"
openalchemy = "*"
faker = "*"
sqlacodegen-v2 = "*"

[requires]
python_version = "3.10"
